USE [master]
GO
/****** Object:  Database [RemoteReading]    Script Date: 2016/5/5 1:29:44 ******/
CREATE DATABASE [RemoteReading]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RemoteReading', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RemoteReading.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RemoteReading_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RemoteReading_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RemoteReading].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RemoteReading]
GO
/****** Object:  Table [dbo].[ChatMessageRecord]    Script Date: 2016/5/5 1:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChatMessageRecord](
	[AutoID] [bigint] IDENTITY(1,1) NOT NULL,
	[SpeakerID] [varchar](20) NOT NULL,
	[AudienceID] [varchar](20) NOT NULL,
	[IsGroupChat] [bit] NOT NULL,
	[Content] [image] NOT NULL,
	[OccureTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ChatMessageRecord] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GGGroup]    Script Date: 2016/5/5 1:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GGGroup](
	[GroupID] [varchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[CreatorID] [varchar](20) NOT NULL,
	[Announce] [nvarchar](200) NOT NULL,
	[Members] [nvarchar](4000) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_OrayGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GGUser]    Script Date: 2016/5/5 1:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GGUser](
	[UserID] [varchar](50) NOT NULL,
	[PasswordMD5] [varchar](100) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Friends] [nvarchar](4000) NOT NULL,
	[Signature] [nvarchar](100) NOT NULL,
	[HeadImageIndex] [int] NOT NULL,
	[HeadImageData] [image] NULL,
	[Groups] [varchar](1000) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[DefaultFriendCatalog] [nvarchar](20) NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_OrayUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessageRecord] ON 

INSERT [dbo].[ChatMessageRecord] ([AutoID], [SpeakerID], [AudienceID], [IsGroupChat], [Content], [OccureTime]) VALUES (1, N'100001', N'100000', 0, 0x2F000000000000000000001200000006000000E5AE8BE4BD930000000000001041000000000000000006000000646661646664, CAST(0x0000A5FD000F1EA4 AS DateTime))
INSERT [dbo].[ChatMessageRecord] ([AutoID], [SpeakerID], [AudienceID], [IsGroupChat], [Content], [OccureTime]) VALUES (2, N'100000', N'100001', 0, 0x2E000000000000000000001200000006000000E5AE8BE4BD9300000000000010410000000000000000050000006466617366, CAST(0x0000A5FD000F271D AS DateTime))
SET IDENTITY_INSERT [dbo].[ChatMessageRecord] OFF
INSERT [dbo].[GGGroup] ([GroupID], [Name], [CreatorID], [Announce], [Members], [CreateTime], [Version]) VALUES (N'G001', N'测试群1', N'100000', N'春节快乐', N'100000,100001,100002,100003', CAST(0x0000A5D20184014C AS DateTime), 20)
INSERT [dbo].[GGGroup] ([GroupID], [Name], [CreatorID], [Announce], [Members], [CreateTime], [Version]) VALUES (N'G002', N'测试群2', N'100001', N'感觉交作业', N'100000,100001', CAST(0x0000A465018167AC AS DateTime), 20)
INSERT [dbo].[GGUser] ([UserID], [PasswordMD5], [Name], [Friends], [Signature], [HeadImageIndex], [HeadImageData], [Groups], [CreateTime], [DefaultFriendCatalog], [Version]) VALUES (N'100000', N'c4ca4238a0b923820dcc509a6f75849b', N'张三', N'我的好友:100001,100002,100003', N'爱你就等于爱自己', 2, NULL, N'G001,G002', CAST(0x0000A5FD014AB3C4 AS DateTime), N'我的好友', 21)
INSERT [dbo].[GGUser] ([UserID], [PasswordMD5], [Name], [Friends], [Signature], [HeadImageIndex], [HeadImageData], [Groups], [CreateTime], [DefaultFriendCatalog], [Version]) VALUES (N'100001', N'c4ca4238a0b923820dcc509a6f75849b', N'李四', N'我的好友:100000,100002,100003', N'一定要做出来!', 1, NULL, N'G001,G002', CAST(0x0000A5FD01818750 AS DateTime), N'我的好友', 20)
INSERT [dbo].[GGUser] ([UserID], [PasswordMD5], [Name], [Friends], [Signature], [HeadImageIndex], [HeadImageData], [Groups], [CreateTime], [DefaultFriendCatalog], [Version]) VALUES (N'100002', N'c4ca4238a0b923820dcc509a6f75849b', N'王五', N'我的好友:100001,100000,100003', N'随风而动', 2, NULL, N'G001', CAST(0x0000A5D30186C198 AS DateTime), N'我的好友', 20)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ChatMessageRecord]    Script Date: 2016/5/5 1:29:44 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessageRecord] ON [dbo].[ChatMessageRecord]
(
	[SpeakerID] ASC,
	[AudienceID] ASC,
	[OccureTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ChatMessageRecord_1]    Script Date: 2016/5/5 1:29:44 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessageRecord_1] ON [dbo].[ChatMessageRecord]
(
	[AudienceID] ASC,
	[OccureTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
